doctype html
html
 head
  title FABCAR
 body
  h1 DETAILS OF ALL CAR
 
   a(href='/api/queryAllData')  View All Cars
   
   a(href='/api/createcar')  Insert  a new car
  ul
   each item in list
    li="CARID:  " +item["Key"]+" MAKE:  "  +item["Record"]["make"]+" MODEL:  "  + item["Record"]["model"] + " ColOuR:  "  + item["Record"]["colour"] + " OWNER:  "  +item["Record"]["owner"]
